.wrapper {
    display: flex;
    flex-direction: column;
    width: 80%;
}

.cards_container {
    margin-bottom: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 1.5rem;
    align-items: center;
    align-content: center;
}

.cards_container p {
    padding: 0;
    margin: 0;
}

.card_wrapper {
    display: flex;
    flex-direction: column;
    width: 240px;
    height: 400px;
    border-radius: 5px;
    justify-content: space-between;

    padding: 0.8rem;
}

.img_wrapper {
    display: flex;
    justify-content: center;
}

.img_preview {
    max-height: 150px;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 20%;
    gap: 1rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.pagination_buttons {
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    margin: 0;
    padding: 0.5rem;
    font-weight: bold;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0);
}

.pagination p {
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.quantity {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    padding: 0px 0.5rem;
}

.title {
    padding: 0;
    margin: 0;
    padding-bottom: 0.5rem;
    font-size: 0.95rem;
    line-height: inherit;
}

.button_add {
    border-radius: 5px;
    cursor: pointer;
    border-width: 1px;
    height: 100%;
}

.add_wrapper {
    align-items: center;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
}

.small_buttons_wrapper {
    display: flex;
    flex-direction: column-reverse;
    padding-left: 1rem;
    border: none;

}

.small_buttons {
    border: none;
    margin: 0;
    padding: 0;
    font-weight: bold;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0);
}

.controls {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.logo {
    display: block;
    padding: 0;
    margin: 0;
    width: auto;
    height: 1rem;
}
.incorrect_filters{
    height: 30vh;
    margin: 0 auto;
    padding-top: 25vh;
    font-size: 1.5rem;

}