.wrapper {
    display: flex;
    padding: 1rem;
    position: sticky;
    top: 0;
    z-index: 2;
    gap: 0.5rem;
    width: 18.5rem;
}

.select {
    border-radius: 5px;
}

.title {
    margin: 0;
    font-family: "Open Sans", "Lato", Verdana, sans-serif;
    font-weight: normal;
    line-height: inherit;
    font-size: 1rem;
    padding: 0;
}