.wrapper {
    position: sticky;
    top: 40px;
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    width: 20%;
    height: 43rem;
}

.filter_block {
    border-radius: 5px;
    border-width: 2px;
    border-style: solid;
    border-color: rgba(43, 41, 41, 0.8);
    margin-top: 1rem;
    padding: 0.5rem;
}

.button {
    margin-top: 1rem;
    border-radius: 5px;
    cursor: pointer;
}