.wrapper {
    display: flex;
    position: relative;
    align-items: center;
}

.delete_button {
    position: absolute;
    right: 0;
    background-color: #ffffff00;
    border: none;
    cursor: pointer;
    z-index: 2;
}

.input {
    border-radius: 5px;
    z-index: 1;
}